<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Symphony</string>
	<key>uuid</key>
	<string>FD6948A5-00DC-425F-ABEB-C450E7094674</string>
</dict>
</plist>